# Exercício 1

In [2]:
# importar bibliotecas necessárias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# setar configurações
%matplotlib inline
pd.options.display.max_rows = 6000
pd.options.display.max_columns = 999

In [ ]:
# carregar o dataframe df_brcities com o arquivo BRAZIL_CITIES.csv
df_brcities = pd.read_csv("BRAZIL_CITIES.csv", sep = ";")

In [ ]:
# visualizar linhas iniciais
df_brcities.head(5)

In [ ]:
# criar variável numerica da variavel categorica RURAL_URBAN (get_dummies)
df_brcities = pd.get_dummies(df_brcities, columns = ['RURAL_URBAN'], prefix = ['Tipo_Area'], dummy_na=True)

In [ ]:
df_brcities.head(5)

In [ ]:
# criar variável numerica da variável categorica STATE (LabelEncoder)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_brcities['STATE_NUM'] = le.fit_transform(df_brcities['STATE'])

In [ ]:
df_brcities.head(5)

# Selecionar subconjuntos

In [ ]:
# Selecionar colunas específicas
df_brcities[['STATE', 'CITY']].head(15)

In [ ]:
# Colocar a coluna CITY
df_brcities.set_index('CITY', inplace=True)

In [ ]:
# Selecionar linha específica, pelo nome da cidade
df_brcities.loc['São Paulo']

In [ ]:
# Selecionar linhas específicas, pelo nome da cidade
df_brcities.loc[['São Paulo', 'Rio De Janeiro']]

In [ ]:
# Selecionar range de cidades
df_brcities.loc['São Paulo':'Sorocaba']

In [ ]:
# Selecionar range de cidades até um índice específico
df_brcities.loc[:'Abaeté']

In [ ]:
# Selecionar range de cidades a partir de um índice específico
df_brcities.loc['Viana':]

In [ ]:
# Selecionar range de cidades e colunas específicas
df_brcities.loc[['São Paulo', 'São Paulo Das Missões'], ['STATE', 'GDP']]

In [ ]:
# Selecionar cidades do RS e SC
df_brcities[(df_brcities['STATE'] == 'RS') | (df_brcities['STATE'] == 'SC')]['STATE']

# Agrupar e sumarizar

In [ ]:
# Agrupar por STATE e RURAL_URBAN e somar TAXES 
df_brcities.groupby(['RURAL_URBAN', 'STATE'])['TAXES'].sum()

In [ ]:
# Pivot Table por STATE e RURAL_URBAN e tirar a média de TAXES 
pd.pivot_table(df_brcities, index = ['STATE'], values = ['TAXES'], columns = ['RURAL_URBAN'], aggfunc=[np.mean], fill_value = 0)

# Manipulação de Datas

In [3]:
# Ler arquivo de temperaturas
df_temp = pd.read_excel('temperature.xlsx')

In [4]:
# Criar colunas com partes da data e hora
df_temp['ano'] = pd.DatetimeIndex(df_temp['data']).year
df_temp['mes'] = pd.DatetimeIndex(df_temp['data']).month
df_temp['dia'] = pd.DatetimeIndex(df_temp['data']).day
df_temp['hora'] = pd.DatetimeIndex(df_temp['data']).hour
df_temp['minuto'] = pd.DatetimeIndex(df_temp['data']).minute
df_temp['segundo'] = pd.DatetimeIndex(df_temp['data']).second
df_temp['diasemana'] = pd.DatetimeIndex(df_temp['data']).weekday

In [5]:
# Colocar data como indice
df_temp.set_index('data', inplace=True)

In [6]:
# Visualizar Data Frame
df_temp

,temperatura,umidade,ano,mes,dia,hora,minuto,segundo,diasemana
data,,,,,,,,,
2019-01-10 10:00:00,22,65,2019,1,10,10,0,0,3
2019-01-15 14:30:00,26,61,2019,1,15,14,30,0,1
2019-02-01 15:30:00,35,46,2019,2,1,15,30,0,4
2019-02-03 09:00:00,35,70,2019,2,3,9,0,0,6
2019-03-08 14:50:00,24,56,2019,3,8,14,50,0,4
2019-03-25 23:45:00,10,46,2019,3,25,23,45,0,0
2019-04-04 02:10:00,32,53,2019,4,4,2,10,0,3
2019-04-13 12:47:00,32,65,2019,4,13,12,47,0,5
2019-04-28 13:30:00,35,58,2019,4,28,13,30,0,6
2019-05-01 06:45:00,23,42,2019,5,1,6,45,0,2
2019-05-02 21:20:00,30,62,2019,5,2,21,20,0,3
2019-05-05 18:13:00,30,69,2019,5,5,18,13,0,6
2019-05-13 17:00:00,11,69,2019,5,13,17,0,0,0

In [ ]:
# Extrair média por mês
df_temp.resample('MS').mean()